body{
    background-color: orange;
}
#Title{
    font-size:60px;
    width:750px;
    
}
#snap{
    font-size: 30px;
    background-color: green;
    width:400px;
    color:white;
}
canvas{
    animation-name:example;
    animation-duration:4s;
    animation-iteration-count:infinite;
}
@keyframes example{
    from{box-shadow:1px 1px 30px red;}
    to{box-shadow:1px 1px 30px blue;}
    
}